.movieListHeading{
    font-size: 18px;
    font-weight: 600;
    padding: 0 25px;
    background-color: #031d33;
    color: white;
    border-radius: 25px;
    align-self: center;
    text-align: center;
    margin-top: 50px;
}